<div id="page">
    <div class="form-contenu">
        <div class="form-gauche">
            <div class="auth"></div>
            <div class="inscrire"></div>
        </div>
        <div class="form-droit" >
            <div class="auth">
                <auth></auth>
            </div>
            <div class="inscrire">
                <app-inscrire></app-inscrire>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; font-family: nunito;">
        <div style="font-size: 2rem; color: #f5f5f5;">
            <i class="fa fa-comment" aria-hidden="true" style="font-size: 1.5rem;"></i> Chat
        </div>
        <div style="color: #f5f5f5; font-size: .75rem;">&copy; 2021</div>
    </div>
</div>