<form [formGroup] = "user" (ngSubmit) = "onSubmit()">
  <h2>S'Authentifier</h2>
  <div class="form-ligne" [ngClass]="{ 'has-error' : invalidNomUtili() }">
    <div>
      <input type="text" formControlName="nom" name="nom" id="nom" [ngClass]="{ 'is-invalid' : invalidNomUtili() }" class="form-control input-text" placeholder="Nom d'utilisateur" autocomplete="off">
      <p class="error" [ngClass]="{ 'set' : invalidNomUtili() }">{{ errors.nom || "Champ vide !" }}</p>
    </div> 
  </div>
  <div class="form-ligne" [ngClass]="{ 'has-error' : invalidPassword() }">
    <div>
      <input type="password" formControlName="pwd" name="pwd" id="pwd" [ngClass]="{ 'is-invalid' : invalidPassword() }" class="form-control input-text" placeholder="Mot de passe" aria-describedby="noticepwd">
      <p class="error" [ngClass]="{ 'set' : invalidPassword() }">Mot de passe incorrect !</p>
    </div>
  </div>
  <div class="form-dern-ligne">
    <button type="submit" class="auth">Authentifier</button>
  </div>
  <div style="font-size: 10pt; color: gray; font-family: nunito; width: 100%; display: flex; justify-content: center;">
    Vous n'avez pas de compte ?&nbsp;<span class="lien">S'inscrire</span>
  </div>
</form>