@font-face {
  font-family: nova;
  src: url('https://fonts.googleapis.com/css?family=Proxima+Nova')
}

ol, ul {
   padding-left:0;
   margin:0;
}


#frame {
  width: 100%;
  min-width: 360px;
  height: 100%;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;
  display: flex;
}

#frame #sidepanel {
  float: left;
  min-width: 280px;
  max-width: 290px;
  width: 40%;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
} 

#frame #sidepanel #profile {
  width: 80%;
  margin: 15px auto;
}

#frame #sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}
#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}


#frame #sidepanel #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
  display: flex;
  align-items: center;
}


#frame #sidepanel #profile .wrap img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

#frame #sidepanel #profile .wrap img.online {
  border: 2px solid #2ecc71;
}
#frame #sidepanel #profile .wrap img.offline {
  border: 2px solid #e74c3c;
}


#frame #sidepanel #profile .wrap p {
  float: left;
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font-family: nunito;  
  font-size: 1.2rem;
}


#frame #sidepanel #search {
  border-top: 1px solid #32465a;
  border-bottom: 1px solid #32465a;
  background: #f5f5f5;
}


#frame #sidepanel #search label {
  position: absolute;
  margin: 6px 0 0 8px;
  color: #32465a;
  background-color: transparent;
}
#frame #sidepanel #search input {
  font-family: nunito;
  padding: 10px 0 10px 32px;
  width: calc(100% - 3px);
  border: none;
  color: #32465a;
  background: #f5f5f5;
  height: 35px;
}
#frame #sidepanel #search input:focus {
  outline: none;
}

#frame #sidepanel #contacts {
  height: calc(100% - 177px);
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#frame #sidepanel #contacts::-webkit-scrollbar {
width: 8px;
background: #2c3e50;
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
background-color: #8d8d8d;
}


#frame #sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}
#frame #sidepanel #bottom-bar button {
  float: left;
  border: none;
  height: 33px;
  width: 50%;
  padding: 8px 0;
  background: #32465a;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.85em;
  font-family: nunito;
}

#frame #sidepanel #bottom-bar button:focus {
  outline: none;
}
#frame #sidepanel #bottom-bar button:nth-child(-n+2) {
  border-right: 1px solid #2c3e50;
}


#frame #sidepanel #bottom-bar button:hover {
  background: #435f7a;
}
#frame #sidepanel #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}

@media all and (max-width: 900px) {
  #frame #sidepanel {
    width: 58px;
    min-width: 58px;
  }

  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
  #frame #sidepanel #profile .wrap {
      height: 55px;
  }
  #frame #sidepanel #profile .wrap img {
      margin-left: 0.2rem;
  }
  #frame #sidepanel #profile .wrap p {
      display: none;
  }
  #frame #sidepanel #search {
      display: none;
  }
  #frame #sidepanel #contacts {
      height: calc(100% - 149px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #frame #sidepanel #contacts::-webkit-scrollbar {
      display: none;
    }
    #frame #sidepanel #bottom-bar {
      display: block;
    }
    #frame #sidepanel #bottom-bar button {
      float: none;
      width: 100%;
    }
    #frame #sidepanel #bottom-bar button:nth-child(-n+2){
      border-right: none;
      border-bottom: 1px solid #2c3e50;
    }

    #frame #sidepanel #bottom-bar button i {
      font-size: 1.3em;
    }
    #frame #sidepanel #bottom-bar button span {
      display: none;
    }
}

#frame .content {
  float: right;
  width: 60%;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 340px);
  }
}

#frame .content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
}
#frame .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
#frame .content .contact-profile p {
  float: left;
}

#frame .content .messages {
  height: auto;
  min-height: calc(100% - 85px);
  max-height: calc(100% - 85px);
  overflow-y: scroll;
  overflow-x: hidden;
}
#frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(141, 141, 141);
}
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
#frame .content .messages ul li.emetteur img {
  margin: 6px 8px 0 0;
}
#frame .content .messages ul li.emetteur p {
  background: #435f7a;
  color: #f5f5f5;
}
#frame .content .messages ul li.destinateur img {
  float: right;
  margin: 6px 0 0 8px;
}
#frame .content .messages ul li.destinateur p {
  background: #f5f5f5;
  float: right;
}
#frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
#frame .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}

#frame .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
#frame .content .message-input .wrap {
  position: relative;
}
#frame .content .message-input .wrap input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}

#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}

#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: #32465a;
  color: #f5f5f5;
}
#frame .content .message-input .wrap button:hover {
  background: #435f7a;
}
#frame .content .message-input .wrap button:focus {
  outline: none;
}

.demandes{
  color: rgb(30, 201, 135);
}


@media all and (max-width: 900px) {
  #frame .content {
    width: calc(100% - 58px);
    min-width: 300px !important;
  }
  #frame .content .messages {
      max-height: calc(100% - 105px);
    }
    #frame .content .message-input .wrap input {
      padding: 15px 32px 16px 8px;
    }
    #frame .content .message-input .wrap .attachment {
      margin-top: 17px;
      right: 65px;
    }
    #frame .content .message-input .wrap button {
      padding: 16px 0;
    }
    #frame #sidepanel #profile .wrap {
      margin-bottom: 7px;
  }
}