<app-zone-ajout-amie [user]="user"></app-zone-ajout-amie>

<app-zone-notification [user]="user" (nouv_amie)="ajouter_amie($event)" ></app-zone-notification>

<app-modification-compte [user]="user"></app-modification-compte>

<div id="frame">
  <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
          <img id="profile-img" data-toggle="modal" data-target="#Modal_modifier_util" src="{{ user?.image || '../../../assets/Images/profile.png' }}" class="online" alt="" />
          <p>{{user?.nom}}</p>
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input (keyup)="chercher($event)" id="search_zone"  type="text" autocomplete="off" placeholder="Search contacts..." />
      </div>
      <div id="contacts">
        <ul>
        <app-utilisateur id="{{util?.id+' '+util?.nom}}" *ngFor="let util of tab_utils_temp" [user]="util" (infos)="click_user($event)">
        </app-utilisateur>
        </ul>
      </div>
      <div id="bottom-bar">
        <button data-toggle="modal" data-target="#Modal_ajout_amies"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span> Ami</span></button>
        <button data-toggle="modal" data-target="#Modal_notifications" (click)="vue_demandes($event)"><i class="fas fa-bell" [ngClass]="{ 'demandes' : demandes }" ng aria-hidden="true"></i> <span [ngClass]="{ 'demandes' : demandes }"> Notification</span></button>
        <button (click)="signout()"><i class="fa fa-sign-out" aria-hidden="true"></i> <span> Sortir</span></button>
    </div>
  </div>

  <div class="content" style="width: 100%;">
    <app-zone-msgs [msgs]="msgs" [socket]="socket" [amie]="amie" (message_received)="message_received($event)" ></app-zone-msgs>
  </div>

</div>
