<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="pageGlobal">
  <div style="font-size: 1.2rem;" class="fi-pdf" >{{ user?.nom }}</div>
  <div id="page" style="border-top: 1px solid gray;">
    <div id="side1">
      <div *ngIf="utils.length!=0" style="padding :0px;">
      <app-utilisateur *ngFor="let util of utils" [user]="util" (click)="onclick(util?.id+ ',' +util?.nom)">
      </app-utilisateur>
    </div>
    </div>
    <app-zone-msgs *ngIf="clicked" [msgs]="msgs" [socket]="socket" [amie]="amie"></app-zone-msgs>
  </div>
</div>