@font-face {
  font-family: nova;
  src: url('https://fonts.googleapis.com/css?family=Proxima+Nova')
}


.modal.show .modal-dialog {
  transform: none;
  width: 100%;
  margin: 100px auto;
}

.modal-header{
  padding:0 0.7rem 0 0;
}


.contacts {
  max-height: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: rgba(253, 250, 250, 0.1);
}

.contacts::-webkit-scrollbar {
  width: 8px;
  background: rgba(253, 250, 250, 0.1);
}

.contacts::-webkit-scrollbar-thumb {
background-color: #2c3e50;
}



li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ol, ul {
  list-style: none;
}


#search {width: 80%;
  font-weight: 300;
  padding: 0;
}

.close:not(:disabled):not(.disabled) {
  cursor: pointer;
  padding: 0 18px 8px 0;
  font-size: 22pt;
  position: absolute;
  color: white;
  font-size: 2.2rem;
  left: 96%;
  top: -25px;
  outline: none !important;
}


#search{
  border: 1px solid gray;
  border-right: none;
  border-left: none;
  display: flex;
  width: 100%;
  border-radius: 0px !important;
}

#search label{
  display: grid;
  place-items: center;
  padding: 0 1rem;
  background: gray;
  border-left: 1px solid gray;
  color: white;
  border-radius: 0px !important;
}


#search input {
  font-family: nunito;
  font-size: 1.1rem;
  padding: 10px 0 10px 20px;
  width: 100%;
  border: none;
  outline: none;
  background: white;
  height: 35px;
}

#Modal_ajout_amies .modal-dialog .modal-content{
  margin: 0 auto;
}

@media all and (max-width: 600px) {
  #Modal_ajout_amies .modal-dialog .modal-content{
    width: 95%;
  }
  .close:not(:disabled):not(.disabled) {
    left: 95%;
  }
}