<div id="Modal_ajout_amies" class="modal fade" tabindex="-1">
    <div class="modal-dialog" style="border: none;">
        <div class="modal-content" style="border: none !important; background-color: white;">
            <div class="modal-header" style="padding: 0; border: none;">
                <div id="search">
                    <input id="search_amie" type="text" (keyup)="chercher($event)" autocomplete="off" placeholder="Search contacts..." />
                    <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body contacts" *ngIf="tab_utils_temp.length != 0">
                <ul>
                <app-utilisateur-demande-amie id="{{util?.id+' '+util?.nom}}" *ngFor="let util of tab_utils_temp" [autre_util]="util">
                </app-utilisateur-demande-amie>
                </ul>
            </div>
            <div class="modal-body" *ngIf="tab_utils_temp.length == 0 && inputValue == 'set'">
                Aucun utilisateur trouver!
            </div>
        </div>
    </div>
</div>