.contact {
  position: relative;
  padding: 10px 0;
  font-size: 0.9em;
  cursor: pointer;
}

p {
  margin:0;
}


.contact:hover {
  background: #32465a;
}
.contact.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}
.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}
.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}
.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #e74c3c;
}
.contact .wrap span.online {
  background: #2ecc71;
}

.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  background-color: rgb(253 253 253 / 48%);
}
.contact .wrap .meta {
  padding:0;
  font-family: nunito;
}
.contact .wrap .meta .name {
  height: 15px;
  font-size: 1.075rem;
}
.contact .wrap .meta .preview {
  margin: 6px 0 0 0;
  padding: 0 0 1px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  height:19px;
  color: rgb(145, 145, 145);
}
.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}

#text_non_lue{
  position: absolute;
  right: 1%;
  top:25%;
  margin: -2px 0 0 -2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4BEA82;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 900px) {
  .contact {
    padding: 6px 0 46px 8px;
  }
  .contact .wrap {
    width: 100%;
  }
  .contact .wrap img {
    margin-right: 0px;
  }
  .contact .wrap .meta .preview{
    display: none;
  }

  .contact .wrap .meta .name{
    height: 15px;
    width: 30px;
    font-size: 0.85rem;
    text-overflow: ellipsis;
  }

  #text_non_lue{
    display: none;
  }
  
}