<div class="contact" onclick="" id="{{user?.id+' '+user?.nom}}">
    <div class="conteneur">
        <div style="display: flex;">
            <div>
                <span class="contact-status online"></span>
                <img src="http://emilcarlsson.se/assets/louislitt.png" alt="">
            </div>
            <div class="meta">
                <p class="name"> {{user?.nom}}</p>
                <p class="derniermessage">Wrong. You take the gun, or you pull out a bigger 
                    one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
            </div>
            <div id="text_non_lue">1</div>
        </div>
    </div>
</div>

