<!-- 
    ngClass : adds and removes CSS classes on an HTML element.
    formGroup : Tracks the value and validity state of a group of FormControl instances. (class)
    formControlName : Syncs a FormControl in an existing FormGroup to a form control element by name. (directive)
    ngModule : Creates a FormControl instance from a domain model and binds it to a form control element. (directive)
            Decorator that marks a class as an NgModule and supplies configuration metadata.
    formBuilder : Creates an AbstractControl from a user-specified configuration.
    AbstractControl : This is the base class for FormControl, FormGroup, and FormArray.
-->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <h2>S'Inscrire</h2>
    <div class="form-ligne" [ngClass]="{ 'has-error' : invalidNomUtili() }">
        <div>
            <input type="text" formControlName="nomutil" name="nomutil" id="nomutil" [ngClass]="{ 'is-invalid' : invalidNomUtili() }" class="form-control input-text" placeholder="Votre nom" autocomplete="off">
            <p class="error" [ngClass]="{ 'set' : invalidNomUtili() }">Nom d'utilisateur invalid !</p>
        </div>
    </div>
    <div class="form-ligne" [ngClass]="{ 'has-error' : invalidEmail() }">
        <div>
            <input type="text" formControlName="email" name="email" id="email" [ngClass]="{ 'is-invalid' : invalidEmail() }" class="form-control input-text" placeholder="Votre email" autocomplete="off">
            <p class="error" [ngClass]="{ 'set' : invalidEmail() }" >{{ this.errors.email || 'Email invalid'}}</p>
        </div>
    </div>
    <div class="form-ligne" [ngClass]="{ 'has-error' : invalidPassword() }">
        <div>
            <input type="password" formControlName="pword" name="pword" id="pword" [ngClass]="{ 'is-invalid' : invalidPassword() }" class="form-control input-text" placeholder="Mot de passe">
            <p class="error" [ngClass]="{ 'set' : invalidPassword() }">Mot de passe invalid !</p>
        </div>
    </div>
    <div class="form-ligne" [ngClass]="{ 'has-error' : invalidConfirmePassword() }">
        <div>
            <input type="password" formControlName="cpword" name="cpword" id="cpword" [ngClass]="{ 'is-invalid' : invalidConfirmePassword() }" placeholder="Confirmer le mot de passe" class="form-control input-text">
            <p class="error" [ngClass]="{ 'set' : invalidConfirmePassword() }">Confirmation pas valable !</p>
        </div>
    </div>
    <div class="form-dern-ligne form-group has-error">
        <button type="submit" class="inscrire">Inscrire</button>
    </div>
    <div style="font-size: 10pt; color: gray; font-family: nunito; width: 100%; display: flex; justify-content: center;">
        Vous avez déjà un compte ?&nbsp;<span href="#" onclick="toggle()" class="lien">S'authentifier</span>
    </div>
</form>
